body{
	background-image:url('y.jpg');
	background-size: cover;
}   
h1{
	color:navy;
	text-align: center;
	background-color: pink;
	padding: 10px;
}

h2{
	color:#FF6600;
	

}
h3{
	color:red;
}
.color{
	color:green;
	background-color: yellow;
	margin-right: 1200px;
	padding: 5px;

}
#first{
	background-color: pink;
	margin-right: 1200px;
	padding: 5px;

}